@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #cccc33 transparent;
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #1b4e9b;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
*:disabled {
  cursor: not-allowed;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #14121c;
  font-family: "Roboto Mono", sans-serif;
  scroll-behavior: smooth !important;
  cursor: none;
}

@layer components {
  .main-container {
    @apply container mx-auto px-4 md:px-4 lg:px-5 2xl:px-6;
  }
  .common-transition {
    @apply transition-all duration-150 ease-linear;
  }
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-pulse-custom {
  animation: pulse 800ms cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.line:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20rem;
  width: 120vw;
  height: 1.5rem;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Adjust the background color and opacity as needed */
}

/* --------------------------------------------React Slick Slider Styles---------------------------------------- */

.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-item {
  min-width: 300px;
}

.slider-item.active {
  flex-shrink: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollBody {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}
