@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #1b4e9b transparent;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #1b4e9b;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
*:disabled {
  cursor: not-allowed;
} */

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth !important;
  cursor: none;
}

@layer components {
  .main-container {
    @apply !container mx-auto px-4 md:px-4 lg:px-5 2xl:px-6;
  }
  .common-transition {
    @apply transition-all duration-150 ease-linear;
  }
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-pulse-custom {
  animation: pulse 800ms cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
